n8n-workflows/3-sms-followup-automation.json
{
  "name": "Foreclosure Leads - SMS Follow-up After Email",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "e5f6a7b8-c9d0-1e2f-3a4b-5c6d7e8f9a0b",
      "name": "Every 6 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "documentId": {
          "__rl": true,
          "value": "1me4hbzialZs06LGaG3U2P3CjixSakH46GSM_ZOwSApw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "NOD Leads"
        },
        "options": {}
      },
      "id": "f6a7b8c9-d0e1-2f3a-4b5c-6d7e8f9a0b1c",
      "name": "Get Leads with Email Sent",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [460, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "a1",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "Email Sent",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "a2",
              "leftValue": "={{ $json['Phone Number'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "a3",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "SMS",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a7b8c9d0-e1f2-3a4b-5c6d-7e8f9a0b1c2d",
      "name": "Filter: Email Sent & Has Phone & No SMS Yet",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// Check if email was sent more than 48 hours ago\nconst item = $input.item.json;\nconst lastContact = item['Last Contact'];\n\nif (!lastContact) {\n  return [];\n}\n\nconst lastContactDate = new Date(lastContact);\nconst now = new Date();\nconst hoursSince = (now - lastContactDate) / (1000 * 60 * 60);\n\nif (hoursSince >= 48) {\n  return [$input.item];\n}\n\nreturn [];"
      },
      "id": "b8c9d0e1-f2a3-4b5c-6d7e-8f9a0b1c2d3e",
      "name": "Check 48 Hours Passed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "fromPhoneNumber": "+19516218874",
        "toPhoneNumber": "={{ $json['Phone Number'] }}",
        "message": "Hi {{ $json['Owner Name'] }}, this is My Foreclosure Solution following up about {{ $json['Property Address'] }}. Schedule your free consultation: https://myforeclosuresolution.com/schedule or call (949) 565-5285. Reply STOP to opt out.",
        "options": {}
      },
      "id": "c9d0e1f2-a3b4-5c6d-7e8f-9a0b1c2d3e4f",
      "name": "Send SMS via Twilio",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [1120, 300],
      "credentials": {
        "twilioApi": {
          "id": "YOUR_TWILIO_CREDENTIAL_ID",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "documentId": {
          "__rl": true,
          "value": "1me4hbzialZs06LGaG3U2P3CjixSakH46GSM_ZOwSApw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "NOD Leads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "=SMS Sent - {{ $now.format('MM/DD/YYYY') }}",
            "Last Contact": "={{ $now.toISO() }}"
          },
          "matchingColumns": ["Property Address"],
          "schema": [
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Contact",
              "displayName": "Last Contact",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "d0e1f2a3-b4c5-6d7e-8f9a-0b1c2d3e4f5a",
      "name": "Update Status to SMS Sent",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [1340, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Every 6 Hours": {
      "main": [
        [
          {
            "node": "Get Leads with Email Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Leads with Email Sent": {
      "main": [
        [
          {
            "node": "Filter: Email Sent & Has Phone & No SMS Yet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter: Email Sent & Has Phone & No SMS Yet": {
      "main": [
        [
          {
            "node": "Check 48 Hours Passed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check 48 Hours Passed": {
      "main": [
        [
          {
            "node": "Send SMS via Twilio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send SMS via Twilio": {
      "main": [
        [
          {
            "node": "Update Status to SMS Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "id": "3",
  "meta": {
    "instanceId": "your-instance-id"
  },
  "tags": []
}
