n8n-workflows/4-high-value-lead-alert.json
{
  "name": "Foreclosure Leads - High Value Lead Alert",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute",
              "minute": 5
            }
          ]
        },
        "triggerOn": "specificSheet",
        "sheetId": {
          "__rl": true,
          "value": "1GrfyUDVS_Z66X80kVrXSGRHnbV1XOPp06uxF8lmbbiw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "NOD Leads"
        },
        "event": "rowAdded",
        "options": {}
      },
      "id": "e1f2a3b4-c5d6-7e8f-9a0b-1c2d3e4f5a6b",
      "name": "When New Row Added",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Calculate equity if property value and loan amount are available\nconst item = $input.item.json;\n\nconst estimatedValue = parseFloat((item['Estimated Value'] || '0').replace(/[^0-9.-]+/g, ''));\nconst lender = item['Lender'] || '';\n\n// Estimate loan amount based on typical 80% LTV if not provided\n// You can adjust this logic based on your data\nlet loanAmount = estimatedValue * 0.8;\n\n// Calculate equity\nconst equity = estimatedValue - loanAmount;\nconst equityPercent = estimatedValue > 0 ? Math.round((equity / estimatedValue) * 100) : 0;\n\n// Determine if this is a high-value lead\nconst isHighValue = equity >= 100000 || estimatedValue >= 500000;\nconst isUrgent = item['Timeline'] === 'emergency' || item['Days Since NOD'] > 60;\n\nreturn {\n  json: {\n    ...item,\n    calculatedEquity: equity,\n    equityPercent: equityPercent,\n    isHighValue: isHighValue,\n    isUrgent: isUrgent,\n    estimatedValue: estimatedValue,\n    loanAmount: loanAmount\n  }\n};"
      },
      "id": "f2a3b4c5-d6e7-8f9a-0b1c-2d3e4f5a6b7c",
      "name": "Calculate Equity & Priority",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "a1",
              "leftValue": "={{ $json.isHighValue }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a3b4c5d6-e7f8-9a0b-1c2d-3e4f5a6b7c8d",
      "name": "Is High Value Lead?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "fromPhoneNumber": "+1YOUR_TWILIO_NUMBER",
        "toPhoneNumber": "+19493284811",
        "message": "🚨 HIGH-VALUE LEAD ALERT!\n\nOwner: {{ $json['Owner Name'] }}\nAddress: {{ $json['Property Address'] }}\nEstimated Value: ${{ $json.estimatedValue.toLocaleString() }}\nEquity: ~${{ $json.calculatedEquity.toLocaleString() }} ({{ $json.equityPercent }}%)\n{{ $json.isUrgent ? '⏰ URGENT - Act fast!' : '' }}\n\nPhone: {{ $json['Phone Number'] || 'Need to skip trace' }}\nEmail: {{ $json['Email'] || 'Not available' }}\n\nCALL NOW! This is a high-priority lead.",
        "options": {}
      },
      "id": "b4c5d6e7-f8a9-0b1c-2d3e-4f5a6b7c8d9e",
      "name": "Send SMS Alert to You",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [900, 240],
      "credentials": {
        "twilioApi": {
          "id": "YOUR_TWILIO_CREDENTIAL_ID",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "help@myforeclosuresolution.com",
        "toEmail": "help@myforeclosuresolution.com",
        "subject": "🚨 HIGH-VALUE LEAD: {{ $json['Owner Name'] }} - ${{ $json.calculatedEquity.toLocaleString() }} equity",
        "emailType": "html",
        "message": "<!DOCTYPE html>\n<html>\n<head>\n<style>\nbody { font-family: Arial, sans-serif; }\n.container { max-width: 600px; margin: 0 auto; }\n.header { background: linear-gradient(135deg, #dc2626, #991b1b); color: white; padding: 20px; text-align: center; }\n.content { padding: 20px; background: #f9fafb; }\n.stat { background: white; padding: 15px; margin: 10px 0; border-left: 4px solid #dc2626; }\n.stat-label { font-size: 12px; color: #6b7280; text-transform: uppercase; }\n.stat-value { font-size: 24px; font-weight: 700; color: #1f2937; }\n.cta { background: #dc2626; color: white; padding: 15px 30px; text-decoration: none; display: inline-block; border-radius: 8px; margin: 20px 0; }\n</style>\n</head>\n<body>\n<div class=\"container\">\n  <div class=\"header\">\n    <h1>🚨 HIGH-VALUE LEAD ALERT</h1>\n    <p>{{ $json.isUrgent ? '⏰ URGENT - Act immediately!' : 'New high-value opportunity' }}</p>\n  </div>\n  \n  <div class=\"content\">\n    <h2>Lead Details:</h2>\n    \n    <div class=\"stat\">\n      <div class=\"stat-label\">Owner Name</div>\n      <div class=\"stat-value\">{{ $json['Owner Name'] }}</div>\n    </div>\n    \n    <div class=\"stat\">\n      <div class=\"stat-label\">Property Address</div>\n      <div class=\"stat-value\">{{ $json['Property Address'] }}</div>\n    </div>\n    \n    <div class=\"stat\">\n      <div class=\"stat-label\">Estimated Property Value</div>\n      <div class=\"stat-value\">${{ $json.estimatedValue.toLocaleString() }}</div>\n    </div>\n    \n    <div class=\"stat\">\n      <div class=\"stat-label\">Estimated Equity</div>\n      <div class=\"stat-value\" style=\"color: #10b981;\">${{ $json.calculatedEquity.toLocaleString() }} ({{ $json.equityPercent }}%)</div>\n    </div>\n    \n    <div class=\"stat\">\n      <div class=\"stat-label\">Contact Information</div>\n      <div class=\"stat-value\" style=\"font-size: 16px;\">\n        Phone: {{ $json['Phone Number'] || 'Need to skip trace' }}<br>\n        Email: {{ $json['Email'] || 'Not available' }}\n      </div>\n    </div>\n    \n    <div class=\"stat\">\n      <div class=\"stat-label\">Days Since NOD</div>\n      <div class=\"stat-value\">{{ $json['Days Since NOD'] || 'Unknown' }} days</div>\n    </div>\n    \n    <h3>Why This Lead is High-Priority:</h3>\n    <ul>\n      <li>{{ $json.calculatedEquity >= 100000 ? `✅ Equity: $${$json.calculatedEquity.toLocaleString()} (High)` : '' }}</li>\n      <li>{{ $json.estimatedValue >= 500000 ? `✅ Property Value: $${$json.estimatedValue.toLocaleString()}` : '' }}</li>\n      <li>{{ $json.isUrgent ? '⏰ URGENT: Emergency timeline or 60+ days since NOD' : '' }}</li>\n    </ul>\n    \n    <h3>Recommended Next Steps:</h3>\n    <ol>\n      <li>{{ $json['Phone Number'] ? 'Call immediately: ' + $json['Phone Number'] : 'Skip trace phone number NOW' }}</li>\n      <li>Send personalized email if available</li>\n      <li>Research property on Zillow/Redfin for exact value</li>\n      <li>Prepare high-equity consultation approach</li>\n    </ol>\n    \n    <center>\n      <a href=\"https://docs.google.com/spreadsheets/d/1GrfyUDVS_Z66X80kVrXSGRHnbV1XOPp06uxF8lmbbiw/edit\" class=\"cta\">\n        View in Google Sheet →\n      </a>\n    </center>\n    \n    <p style=\"text-align: center; color: #6b7280; font-size: 14px; margin-top: 30px;\">\n      This lead was automatically flagged based on estimated equity and property value.\n    </p>\n  </div>\n</div>\n</body>\n</html>",
        "options": {}
      },
      "id": "c5d6e7f8-a9b0-1c2d-3e4f-5a6b7c8d9e0f",
      "name": "Send Detailed Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [900, 360],
      "credentials": {
        "smtp": {
          "id": "YOUR_SMTP_CREDENTIAL_ID",
          "name": "Gmail SMTP"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "documentId": {
          "__rl": true,
          "value": "1GrfyUDVS_Z66X80kVrXSGRHnbV1XOPp06uxF8lmbbiw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "NOD Leads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Notes": "=🚨 HIGH-VALUE LEAD - Equity: ${{ $json.calculatedEquity.toLocaleString() }}"
          },
          "matchingColumns": ["Property Address"],
          "schema": [
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "d6e7f8a9-b0c1-2d3e-4f5a-6b7c8d9e0f1a",
      "name": "Tag as High-Value in Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [1120, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When New Row Added": {
      "main": [
        [
          {
            "node": "Calculate Equity & Priority",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Equity & Priority": {
      "main": [
        [
          {
            "node": "Is High Value Lead?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is High Value Lead?": {
      "main": [
        [
          {
            "node": "Send SMS Alert to You",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Detailed Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Tag as High-Value in Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "id": "4",
  "meta": {
    "instanceId": "your-instance-id"
  },
  "tags": []
}
